Release-Output
Debug-Output
Debug
/Release/*.log
/Release/*.exe
/Release/*.ilk
/Release/*.iobj
/Release/*.ipdb
/Release/*.pdb
# Visual C++ cache files
ipch/
*.user
*.suo
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
/Release/log-error.txt
/Release/log-warn.txt
/Release/log.txt
/log-error.txt
/log-warn.txt
/log.txt
/Release/fmod.log
/.vs/config/applicationhost.config
/x64
/Debug
/Debug-Output
/Release-Output
/bfg.jar
/Release/CEGUI.log
/Release/endless2.0.exe
/Release/endless2.0.ilk
/Release/endless2.0_x64.pdb
/Release/fmodex64.dll
/Release/fmodexL64.dll
/Release/nvToolsExt64_1.dll
/Release/PhysX3.dll
/Release/PhysX3_d.dll
/Release/PhysX3CharacterKinematic.dll
/Release/PhysX3CharacterKinematic_d.dll
/Release/PhysX3Common.dll
/Release/PhysX3Common_d.dll
/Release/PhysX3Cooking.dll
/Release/PhysX3Cooking_d.dll
/Release/PxFoundation.dll
/Release/PxFoundation_d.dll
/Release/PxPvdSDK.dll
/Release/PxPvdSDK_d.dll
/Release/logs/cegui.txt
/Release/logs/log-error.txt
/Release/logs/log-normal.txt
/Release/logs/log-warn.txt
/Release/endless2.0.idb
.sass-cache
/data/ui/.sass-cache
/data/ui/node_modules
/data/ui/package-lock.json
.vs
