/* line 2, ../scss/_buttons.scss */
.button-base, .menu-main .button-settings, .menu-main .button-exit, .menu-main .button-cancel {
  background: cyan;
  font-family: 'RobotoCondensed';
  font-size: 22px;
  color: #015757;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  display: block;
  min-width: 120px;
  height: 30px;
  border: 1px solid cyan;
  z-index: 1;
}
/* line 18, ../scss/_buttons.scss */
.button-base:hover, .menu-main .button-settings:hover, .menu-main .button-exit:hover, .menu-main .button-cancel:hover {
  background: #005757;
  color: cyan;
}

@font-face {
  font-family: 'BenderReg';
  src: url(../fonts/BenderReg.ttf);
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed.ttf);
}
/* line 19, ../scss/_misc.scss */
.window-base, .menu-console, .menu-main, .menu-settings, .menu-character {
  /**/size:*;/**/
  position: absolute;
  left: 0;
  top: -100%;
  right: 0;
  bottom: 100%;
  overflow: hidden;
}
/* line 30, ../scss/_misc.scss */
.window-base .menu-frame, .menu-console .menu-frame, .menu-main .menu-frame, .menu-settings .menu-frame, .menu-character .menu-frame {
  /**/size:*;/**/
  position: absolute;
  background: rgba(1, 87, 87, 0.8);
}
/* line 39, ../scss/_misc.scss */
.window-base .content, .menu-console .content, .menu-main .content, .menu-settings .content, .menu-character .content {
  /**/size:*;/**/
  margin: 10px 0;
}
/* line 47, ../scss/_misc.scss */
.window-base .frame-base, .menu-console .frame-base, .menu-main .frame-base, .menu-settings .frame-base, .menu-character .frame-base, .window-base .frame-top, .menu-console .frame-top, .menu-main .frame-top, .menu-settings .frame-top, .menu-character .frame-top, .window-base .frame-bot, .menu-console .frame-bot, .menu-main .frame-bot, .menu-settings .frame-bot, .menu-character .frame-bot {
  position: absolute;
  z-index: 100;
  border: 3px solid cyan;
  height: 10px;
  overflow: hidden;
}
/* line 57, ../scss/_misc.scss */
.window-base .frame-top, .menu-console .frame-top, .menu-main .frame-top, .menu-settings .frame-top, .menu-character .frame-top {
  border-bottom: none;
  left: 0;
  top: 0;
  right: 0;
}
/* line 68, ../scss/_misc.scss */
.window-base .frame-bot, .menu-console .frame-bot, .menu-main .frame-bot, .menu-settings .frame-bot, .menu-character .frame-bot {
  border-top: none;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
}
/* line 80, ../scss/_misc.scss */
.window-base.visible, .visible.menu-console, .visible.menu-main, .visible.menu-settings, .visible.menu-character {
  top: 0;
  bottom: 0;
}

/* line 89, ../scss/_misc.scss */
.item-box {
  width: 48px;
  height: 48px;
  background: url('../images/sprite-ui-s1841858635.png') 0 0 no-repeat;
}

/* line 2, ../scss/_window-base.scss */
.window-base-type-2, .menu-inventory, .menu-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  z-index: 1;
}
/* line 11, ../scss/_window-base.scss */
.window-base-type-2 .container, .menu-inventory .container, .menu-dialog .container {
  /**/size:*;/**/
  flow: vertical;
}
/* line 19, ../scss/_window-base.scss */
.window-base-type-2 .title, .menu-inventory .title, .menu-dialog .title {
  background: url('../images/sprite-ui-s1841858635.png') 0 -2134px repeat-x;
  height: 20px;
  flow: horizontal;
  z-index: 100;
  position: relative;
}
/* line 27, ../scss/_window-base.scss */
.window-base-type-2 .title .left, .menu-inventory .title .left, .menu-dialog .title .left {
  width: 4px;
  height: 20px;
  background: url('../images/sprite-ui-s1841858635.png') 0 -2182px no-repeat;
}
/* line 35, ../scss/_window-base.scss */
.window-base-type-2 .title .center, .menu-inventory .title .center, .menu-dialog .title .center {
  /**/size:*;/**/
  height: 20px;
  flow: horizontal;
}
/* line 42, ../scss/_window-base.scss */
.window-base-type-2 .title .center .text, .menu-inventory .title .center .text, .menu-dialog .title .center .text {
  /**/size:*;/**/
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
/* line 52, ../scss/_window-base.scss */
.window-base-type-2 .title .center .btn, .menu-inventory .title .center .btn, .menu-dialog .title .center .btn, .window-base-type-2 .title .center .btn-min, .menu-inventory .title .center .btn-min, .menu-dialog .title .center .btn-min, .window-base-type-2 .title .center .btn-close, .menu-inventory .title .center .btn-close, .menu-dialog .title .center .btn-close {
  width: 14px;
  height: 14px;
  margin: 2px;
}
/* line 58, ../scss/_window-base.scss */
.window-base-type-2 .title .center .btn:hover, .menu-inventory .title .center .btn:hover, .menu-dialog .title .center .btn:hover, .window-base-type-2 .title .center .btn-min:hover, .menu-inventory .title .center .btn-min:hover, .menu-dialog .title .center .btn-min:hover, .window-base-type-2 .title .center .btn-close:hover, .menu-inventory .title .center .btn-close:hover, .menu-dialog .title .center .btn-close:hover {
  opacity: 0.85;
}
/* line 63, ../scss/_window-base.scss */
.window-base-type-2 .title .center .btn:active, .menu-inventory .title .center .btn:active, .menu-dialog .title .center .btn:active, .window-base-type-2 .title .center .btn-min:active, .menu-inventory .title .center .btn-min:active, .menu-dialog .title .center .btn-min:active, .window-base-type-2 .title .center .btn-close:active, .menu-inventory .title .center .btn-close:active, .menu-dialog .title .center .btn-close:active {
  opacity: 0.7;
}
/* line 70, ../scss/_window-base.scss */
.window-base-type-2 .title .center .btn-min, .menu-inventory .title .center .btn-min, .menu-dialog .title .center .btn-min {
  background: url('../images/sprite-ui-s1841858635.png') 0 -2168px no-repeat;
}
/* line 78, ../scss/_window-base.scss */
.window-base-type-2 .title .center .btn-close, .menu-inventory .title .center .btn-close, .menu-dialog .title .center .btn-close {
  background: url('../images/sprite-ui-s1841858635.png') 0 -2154px no-repeat;
}
/* line 88, ../scss/_window-base.scss */
.window-base-type-2 .title .right, .menu-inventory .title .right, .menu-dialog .title .right {
  width: 4px;
  height: 20px;
  background: url('../images/sprite-ui-s1841858635.png') 0 -2202px no-repeat;
}
/* line 98, ../scss/_window-base.scss */
.window-base-type-2 .content, .menu-inventory .content, .menu-dialog .content {
  /**/size:*;/**/
  border: 1px solid #908b01;
  margin-top: -2px;
  z-index: 99;
}
/* line 106, ../scss/_window-base.scss */
.window-base-type-2 .content .content-inner, .menu-inventory .content .content-inner, .menu-dialog .content .content-inner {
  /**/size:*;/**/
  border: 1px solid #4d542d;
  background: rgba(0, 0, 0, 0.6);
}
/* line 117, ../scss/_window-base.scss */
.window-base-type-2.visible, .visible.menu-inventory, .visible.menu-dialog {
  top: 0;
  bottom: 0;
}

/* line 2, ../scss/_fps.scss */
.fps {
  width: 90px;
  height: auto;
  position: absolute;
  z-index: 999999;
  right: 0;
  text-align: left;
  font-family: 'RobotoCondensed';
  font-size: 36px;
  color: #00ff00;
  /*border:      1px solid #000;*/
  line-height: 38px;
}

/* line 2, ../scss/_menu-console.scss */
.menu-console {
  z-index: 999999;
}
/* line 8, ../scss/_menu-console.scss */
.menu-console .menu-frame {
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8);
}
/* line 16, ../scss/_menu-console.scss */
.menu-console input {
  position: absolute;
  top: auto;
  bottom: 1px;
  right: 0;
  left: 0;
  height: 30px;
  border: none;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
/* line 34, ../scss/_menu-console.scss */
.menu-console .buffer {
  font-family: 'RobotoCondensed';
  font-size: 13px;
  color: #fff;
  position: absolute;
  line-height: 14px;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  padding: 5px;
  letter-spacing: 1px;
  overflow-y: auto;
}
/* line 49, ../scss/_menu-console.scss */
.menu-console .buffer .yellow {
  color: #fff000;
}
/* line 55, ../scss/_menu-console.scss */
.menu-console .buffer .red {
  color: #ff0000;
}

/* line 2, ../scss/_menu-main.scss */
.menu-main {
  z-index: 99999;
}
/* line 10, ../scss/_menu-main.scss */
.menu-main .menu-frame {
  width: 40%;
  min-width: 500px;
  height: 350px;
  left: 50%;
  margin-left: -20%;
  background: rgba(0, 38, 38, 0.75);
}
/* line 21, ../scss/_menu-main.scss */
.menu-main .button-settings {
  position: absolute;
  left: 50%;
  top: 10px;
  margin: 0 0 0 20px;
}
/* line 32, ../scss/_menu-main.scss */
.menu-main .button-exit {
  position: absolute;
  bottom: 10px;
  right: 50%;
  float: right;
  margin: 0 20px 0 0;
}
/* line 44, ../scss/_menu-main.scss */
.menu-main .button-cancel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 0 0 20px;
}
/* line 55, ../scss/_menu-main.scss */
.menu-main.visible {
  top: 0;
  bottom: 0;
}
/* line 60, ../scss/_menu-main.scss */
.menu-main.visible .menu-frame {
  top: 50%;
  bottom: auto;
  margin-top: -175px;
}

/* line 2, ../scss/_menu-settings.scss */
.menu-settings {
  z-index: 99999;
}
/* line 10, ../scss/_menu-settings.scss */
.menu-settings .menu-frame {
  width: 40%;
  min-width: 500px;
  height: 350px;
  left: 50%;
  top: 50%;
  margin-left: -20%;
  margin-top: -175px;
  background: rgba(0, 38, 38, 0.75);
}
/* line 23, ../scss/_menu-settings.scss */
.menu-settings .mcombobox-resolutions {
  width: 45%;
  left: 50%;
  top: 15px;
}
/* line 29, ../scss/_menu-settings.scss */
.menu-settings .mcombobox-resolutions .body {
  max-height: 270px;
  overflow-y: auto;
}

/* line 6, ../scss/_menu-character.scss */
.menu-character .menu-frame {
  min-width: 1024px;
  margin: 50px;
}
/* line 11, ../scss/_menu-character.scss */
.menu-character .menu-frame .content {
  flow: horizontal;
}
/* line 17, ../scss/_menu-character.scss */
.menu-character .menu-frame .char {
  /**/size:*;/**/
  min-height: 616px;
  border-right: 2px solid cyan;
  text-align: center;
  vertical-align: top;
  width: 25%;
  margin: 0 1px 0 0;
}
/* line 28, ../scss/_menu-character.scss */
.menu-character .menu-frame .char > img {
  width: 80%;
  margin: 50px 0 0 0;
  opacity: 0.5;
}
/* line 37, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv {
  /**/size:*;/**/
  /**/height:1*;/**/
  width: 50%;
  border-right: 2px solid cyan;
}
/* line 45, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv .tabs {
  flow: horizontal;
  border-bottom: 1px solid cyan;
  overflow-x: hidden;
}
/* line 51, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv .tabs .tab {
  min-width: 66px;
  height: 66px;
  background: cyan;
}
/* line 57, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv .tabs .tab:hover, .menu-character .menu-frame .inv .tabs .tab.active {
  background: #005757;
}
/* line 66, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content {
  /**/size:*;/**/
}
/* line 70, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content > .scrollable {
  /**/size:*;/**/
  overflow-y: auto;
}
/* line 76, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content > .scrollable > .container {
  flow: horizontal-wrap;
  margin: 10px;
}
/* line 85, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content .cell {
  width: 48px;
  height: 48px;
  border: 2px solid #000;
}
/* line 93, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content .cell > div {
  width: 32px;
  height: 32px;
  transform: scale(1.5);
  transform-origin: 0 0;
}
/* line 102, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content .cell:hover {
  outline: 1px solid white -1px;
  box-shadow: 0 0 12px #000 inset;
}
/* line 110, ../scss/_menu-character.scss */
.menu-character .menu-frame .inv > .inv-content .cell:active > div {
  outline: 1px solid white 0;
  box-shadow: 0 0 32px #000 inset;
}

/* line 2, ../scss/_mcombobox.scss */
.mcombobox {
  background: #00ffff;
  position: relative;
  font-family: 'RobotoCondensed';
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}
/* line 11, ../scss/_mcombobox.scss */
.mcombobox .title {
  border: 1px solid #015757;
}
/* line 15, ../scss/_mcombobox.scss */
.mcombobox .title:hover {
  background: #015757;
  color: #00ffff;
}
/* line 23, ../scss/_mcombobox.scss */
.mcombobox .body {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  display: none;
  z-index: 100;
}
/* line 32, ../scss/_mcombobox.scss */
.mcombobox .body .item {
  height: 30px;
  line-height: 30px;
  background: #00ffff;
}
/* line 38, ../scss/_mcombobox.scss */
.mcombobox .body .item:hover {
  background: #015757;
  color: #00ffff;
}
/* line 50, ../scss/_mcombobox.scss */
.mcombobox.opened .body {
  display: block;
}

/* line 2, ../scss/_mscrollbar.scss */
.mscrollbar {
  /**/size:*;/**/
  position: relative;
  overflow: hidden;
  height: 0;
}
/* line 10, ../scss/_mscrollbar.scss */
.mscrollbar .sb-btn, .mscrollbar .down, .mscrollbar .up {
  width: 15px;
  height: 15px;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 20, ../scss/_mscrollbar.scss */
.mscrollbar .sb-btn:hover, .mscrollbar .down:hover, .mscrollbar .up:hover {
  opacity: 0.95;
}
/* line 25, ../scss/_mscrollbar.scss */
.mscrollbar .sb-btn:active, .mscrollbar .down:active, .mscrollbar .up:active {
  opacity: 0.65;
}
/* line 32, ../scss/_mscrollbar.scss */
.mscrollbar .down {
  background: url('../images/sprite-ui-s1841858635.png') 0 -48px no-repeat;
  top: auto;
  bottom: 0;
}
/* line 42, ../scss/_mscrollbar.scss */
.mscrollbar .up {
  background: url('../images/sprite-ui-s1841858635.png') 0 -2119px no-repeat;
  top: 0;
  bottom: auto;
}
/* line 52, ../scss/_mscrollbar.scss */
.mscrollbar .thumb {
  position: absolute;
  width: 100%;
  min-height: 40px;
  top: 16px;
}
/* line 59, ../scss/_mscrollbar.scss */
.mscrollbar .thumb .top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background: url('../images/sprite-ui-s1841858635.png') 0 -2115px no-repeat;
}
/* line 69, ../scss/_mscrollbar.scss */
.mscrollbar .thumb .mid {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 100%;
  background: url('../images/sprite-ui-s1841858635.png') 0 -67px repeat-y;
}
/* line 79, ../scss/_mscrollbar.scss */
.mscrollbar .thumb .bot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: url('../images/sprite-ui-s1841858635.png') 0 -63px no-repeat;
}
/* line 89, ../scss/_mscrollbar.scss */
.mscrollbar .thumb:hover {
  opacity: 0.95;
}
/* line 94, ../scss/_mscrollbar.scss */
.mscrollbar .thumb:active {
  opacity: 0.65;
}
/* line 101, ../scss/_mscrollbar.scss */
.mscrollbar.msb-visible {
  /**/size:*;/**/
}

/* line 109, ../scss/_mscrollbar.scss */
.mscrollbar-content {
  /* should stay empty */
}

/* line 2, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0001 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 0 no-repeat;
}

/* line 3, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0002 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -32px no-repeat;
}

/* line 4, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0003 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -64px no-repeat;
}

/* line 5, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0004 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -96px no-repeat;
}

/* line 6, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0005 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -128px no-repeat;
}

/* line 7, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0006 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -160px no-repeat;
}

/* line 8, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0007 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -192px no-repeat;
}

/* line 9, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0008 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -224px no-repeat;
}

/* line 10, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0009 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -256px no-repeat;
}

/* line 11, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0010 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -288px no-repeat;
}

/* line 12, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0011 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -320px no-repeat;
}

/* line 13, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0012 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -352px no-repeat;
}

/* line 14, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0013 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -384px no-repeat;
}

/* line 15, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0014 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -416px no-repeat;
}

/* line 16, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0015 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -448px no-repeat;
}

/* line 17, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0016 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -480px no-repeat;
}

/* line 18, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0017 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -512px no-repeat;
}

/* line 19, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0018 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -544px no-repeat;
}

/* line 20, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0019 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -576px no-repeat;
}

/* line 21, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0020 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -608px no-repeat;
}

/* line 22, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0021 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -640px no-repeat;
}

/* line 23, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0022 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -672px no-repeat;
}

/* line 24, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0023 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -704px no-repeat;
}

/* line 25, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0024 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -736px no-repeat;
}

/* line 26, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0025 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -768px no-repeat;
}

/* line 27, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0026 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -800px no-repeat;
}

/* line 28, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0027 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -832px no-repeat;
}

/* line 29, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0028 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -864px no-repeat;
}

/* line 30, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0029 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -896px no-repeat;
}

/* line 31, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0030 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -928px no-repeat;
}

/* line 32, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0031 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -960px no-repeat;
}

/* line 33, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0032 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -992px no-repeat;
}

/* line 34, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0033 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1024px no-repeat;
}

/* line 35, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0034 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1056px no-repeat;
}

/* line 36, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0035 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1088px no-repeat;
}

/* line 37, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0036 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1120px no-repeat;
}

/* line 38, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0037 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1152px no-repeat;
}

/* line 39, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0038 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1184px no-repeat;
}

/* line 40, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0039 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1216px no-repeat;
}

/* line 41, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0040 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1248px no-repeat;
}

/* line 42, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0041 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1280px no-repeat;
}

/* line 43, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0042 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1312px no-repeat;
}

/* line 44, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0043 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1344px no-repeat;
}

/* line 45, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0044 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1376px no-repeat;
}

/* line 46, ../scss/_icons-weapons.scss */
.tmp-ico-wpn-0045 {
  background: url('../images/sprite-weapons-s724d453c97.png') 0 -1408px no-repeat;
}

/* line 6, ../scss/_menu-inventory.scss */
.menu-inventory .container {
  position: absolute;
  width: 367px;
  height: 584px;
  top: 50%;
  margin: -292px 0 0 50px;
}
/* line 16, ../scss/_menu-inventory.scss */
.menu-inventory .inv-items-cont {
  /**/size:*;/**/
  margin: 15px 0 76px 15px;
  overflow: hidden;
  position: relative;
  overflow-x: visible;
}
/* line 26, ../scss/_menu-inventory.scss */
.menu-inventory .inv-items-cont .inv-items {
  /**/size:*;/**/
  overflow-y: auto;
  margin-right: -22px;
  overflow-x: visible;
}
/* line 35, ../scss/_menu-inventory.scss */
.menu-inventory .inv-items-cont .inv-items .inv-items-inner {
  flow: horizontal-wrap;
  margin: 1px 0 0 1px;
}
/* line 42, ../scss/_menu-inventory.scss */
.menu-inventory .inv-items-cont .inv-items .item-box {
  margin: -1px 0 0 -1px;
}
/* line 50, ../scss/_menu-inventory.scss */
.menu-inventory .inv-items-cont .mscrollbar {
  position: absolute;
  width: 15px;
  left: 331px;
  bottom: 0;
  top: 0;
}

/* line 6, ../scss/_menu-dialog.scss */
.menu-dialog .container {
  position: absolute;
  width: 90%;
  height: auto;
  margin: 0 auto;
  bottom: 20px;
  top: auto;
  overflow: hidden;
}
/* line 18, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner {
  flow: vertical;
  color: #fff;
}
/* line 23, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner .question {
  margin: 10px;
}
/* line 29, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul {
  padding: 0;
  margin: 0 10px 10px 10px;
}
/* line 34, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
  line-height: 30px;
}
/* line 41, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul li .n {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 50, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul li .n:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* line 57, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul li .t {
  /**/size:*;/**/
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 5px;
}
/* line 69, ../scss/_menu-dialog.scss */
.menu-dialog .content-inner ul li:hover .t {
  background: rgba(0, 0, 0, 0.25);
}

/* line 18, ../scss/Main.scss */
html {
  /**/size:*;/**/
  font-family: 'BenderReg';
  font-size: 20px;
}

/* line 25, ../scss/Main.scss */
body {
  /**/size:*;/**/
  overflow: auto;
  margin: 0;
  padding: 0;
  flow: stack;
}

/* line 34, ../scss/Main.scss */
section#hud-main {
  /**/size:*;/**/
  position: relative;
}
