
.button-base
{
    background:     rgba( 0, 255, 255, 1 );
    font-family:    'RobotoCondensed';
    font-size:      22px;
    color:          #015757;
    text-align:     center;
    line-height:    30px;
    vertical-align: middle;
    text-transform: uppercase;
    display:        block;
    min-width:      120px;
    height:         30px;
    border:         1px solid rgba( 0, 255, 255, 1 );
    z-index:        1;
    
    &:hover
    {
        background: rgba( 0, 87, 87, 1 );
        color:      rgba( 0, 255, 255, 1 );
    }

} // .button-base
