
.fps
{
    width:       90px;
    height:      auto;
    position:    absolute;
    z-index:     999999;
    right:       0;
    text-align:  left;
    font-family: 'RobotoCondensed';
    font-size:   36px;
    color:       #00ff00;
    /*border:      1px solid #000;*/
    line-height: 38px;
    
} // .fps
