
.tmp-ico-wpn-0001{ background: sprite($sprite-weapons, tmp-0001) no-repeat; }
.tmp-ico-wpn-0002{ background: sprite($sprite-weapons, tmp-0002) no-repeat; }
.tmp-ico-wpn-0003{ background: sprite($sprite-weapons, tmp-0003) no-repeat; }
.tmp-ico-wpn-0004{ background: sprite($sprite-weapons, tmp-0004) no-repeat; }
.tmp-ico-wpn-0005{ background: sprite($sprite-weapons, tmp-0005) no-repeat; }
.tmp-ico-wpn-0006{ background: sprite($sprite-weapons, tmp-0006) no-repeat; }
.tmp-ico-wpn-0007{ background: sprite($sprite-weapons, tmp-0007) no-repeat; }
.tmp-ico-wpn-0008{ background: sprite($sprite-weapons, tmp-0008) no-repeat; }
.tmp-ico-wpn-0009{ background: sprite($sprite-weapons, tmp-0009) no-repeat; }
.tmp-ico-wpn-0010{ background: sprite($sprite-weapons, tmp-0010) no-repeat; }
.tmp-ico-wpn-0011{ background: sprite($sprite-weapons, tmp-0011) no-repeat; }
.tmp-ico-wpn-0012{ background: sprite($sprite-weapons, tmp-0012) no-repeat; }
.tmp-ico-wpn-0013{ background: sprite($sprite-weapons, tmp-0013) no-repeat; }
.tmp-ico-wpn-0014{ background: sprite($sprite-weapons, tmp-0014) no-repeat; }
.tmp-ico-wpn-0015{ background: sprite($sprite-weapons, tmp-0015) no-repeat; }
.tmp-ico-wpn-0016{ background: sprite($sprite-weapons, tmp-0016) no-repeat; }
.tmp-ico-wpn-0017{ background: sprite($sprite-weapons, tmp-0017) no-repeat; }
.tmp-ico-wpn-0018{ background: sprite($sprite-weapons, tmp-0018) no-repeat; }
.tmp-ico-wpn-0019{ background: sprite($sprite-weapons, tmp-0019) no-repeat; }
.tmp-ico-wpn-0020{ background: sprite($sprite-weapons, tmp-0020) no-repeat; }
.tmp-ico-wpn-0021{ background: sprite($sprite-weapons, tmp-0021) no-repeat; }
.tmp-ico-wpn-0022{ background: sprite($sprite-weapons, tmp-0022) no-repeat; }
.tmp-ico-wpn-0023{ background: sprite($sprite-weapons, tmp-0023) no-repeat; }
.tmp-ico-wpn-0024{ background: sprite($sprite-weapons, tmp-0024) no-repeat; }
.tmp-ico-wpn-0025{ background: sprite($sprite-weapons, tmp-0025) no-repeat; }
.tmp-ico-wpn-0026{ background: sprite($sprite-weapons, tmp-0026) no-repeat; }
.tmp-ico-wpn-0027{ background: sprite($sprite-weapons, tmp-0027) no-repeat; }
.tmp-ico-wpn-0028{ background: sprite($sprite-weapons, tmp-0028) no-repeat; }
.tmp-ico-wpn-0029{ background: sprite($sprite-weapons, tmp-0029) no-repeat; }
.tmp-ico-wpn-0030{ background: sprite($sprite-weapons, tmp-0030) no-repeat; }
.tmp-ico-wpn-0031{ background: sprite($sprite-weapons, tmp-0031) no-repeat; }
.tmp-ico-wpn-0032{ background: sprite($sprite-weapons, tmp-0032) no-repeat; }
.tmp-ico-wpn-0033{ background: sprite($sprite-weapons, tmp-0033) no-repeat; }
.tmp-ico-wpn-0034{ background: sprite($sprite-weapons, tmp-0034) no-repeat; }
.tmp-ico-wpn-0035{ background: sprite($sprite-weapons, tmp-0035) no-repeat; }
.tmp-ico-wpn-0036{ background: sprite($sprite-weapons, tmp-0036) no-repeat; }
.tmp-ico-wpn-0037{ background: sprite($sprite-weapons, tmp-0037) no-repeat; }
.tmp-ico-wpn-0038{ background: sprite($sprite-weapons, tmp-0038) no-repeat; }
.tmp-ico-wpn-0039{ background: sprite($sprite-weapons, tmp-0039) no-repeat; }
.tmp-ico-wpn-0040{ background: sprite($sprite-weapons, tmp-0040) no-repeat; }
.tmp-ico-wpn-0041{ background: sprite($sprite-weapons, tmp-0041) no-repeat; }
.tmp-ico-wpn-0042{ background: sprite($sprite-weapons, tmp-0042) no-repeat; }
.tmp-ico-wpn-0043{ background: sprite($sprite-weapons, tmp-0043) no-repeat; }
.tmp-ico-wpn-0044{ background: sprite($sprite-weapons, tmp-0044) no-repeat; }
.tmp-ico-wpn-0045{ background: sprite($sprite-weapons, tmp-0045) no-repeat; }
