
.menu-settings
{
    @extend .window-base;

    z-index: 99999;

    $height: 350px;
    
    .menu-frame
    {
        width:       40%;
        min-width:   500px;
        height:      $height;
        left:        50%;
        top:         50%;
        margin-left: -20%;
        margin-top:  - $height / 2;
        background:  rgba( 0, 38, 38, 0.75 );

    } // .menu-frame

    .mcombobox-resolutions
    {
        width: 45%;
        left:  50%;
        top:   15px;

        .body
        {
            max-height: 270px;
            overflow-y: auto;
        }

    } // .mcombobox-resolutions

} // .menu-settings
